/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}
 
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

/* Variables */

:root {
  --basic: #000000;
  --basic-dim: rgba(0, 0, 0, 0.6);
  --basic-faded: rgba(0, 0, 0, 0.3);
  --basic-transparent: rgba(0, 0, 0, 0.1);
  --invert: #ffffff;
  --invert-dim: rgba(250, 250, 250, 0.6);
  --invert-faded: rgba(250, 250, 250, 0.3);
  --invert-transparent: rgba(250, 250, 250, 0.1);
  --accent: #f0c52e;
  --accent-pale: #f7e296;
  --neutral-light: #e5e5e5;
  --neutral-medium: #dcdcdc;
  --neutral-dark: #363636;
  --input-background: #f2f2f2;
  --input-placeholder: rgba(0, 0, 0, 0.4);
  --input-hover-background: #eaeaea;
  --input-invalid-background: #f6dada;
  --label-disabled: #a6a6a6;
  --card-background: #eeeeee;
  --catalog-pag-background: #ebebeb;
  --catalog-pag-button: #d9d9d9;
  --price-scale: rgba(0, 0, 0, 0.2);
  --accent-extra: #91c92f;
  --toggle-inner: #c4c4c4;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic );
  background-color: var(--invert);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Hidden display-none */
.hidden {
  display: none;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Container */

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  margin-bottom: 44px;
}

.header {
  position: relative;
  padding: 30px 60px 50px 60px;
  background-color: var(--accent-pale);
}

/* Logo */

.logo {
  background-color: transparent;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.header-logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

/* Header user menu */

.header-user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: -40px;
  margin-bottom: 33px;
}

/* Search */

.nav-search-form {
  flex: 0 0 calc(((100% - 40px) / 2) - 20px);
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  margin-right: 40px;
  padding-right: 60px;
}

.nav-search-input {
  width: 100%;
  padding: 14px 14px 14px 38px;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  background-color: var(--accent-pale);
  background-image: url("../img/icon-search.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.nav-search-input:focus {
  border-bottom: 2px solid var(--basic);
  outline: none;
}

.nav-search-input::placeholder {
  color: var(--basic-faded);
}

.nav-search-input:hover::placeholder {
  color: var(--basic-dim);
}
    
/* Search button */

.nav-search-button {
  padding: 15px 17px;
  border: 2px solid var(--basic);
  background-color: var(--accent-pale);
  text-transform: uppercase;  
  outline: none;
  opacity: 0;
}

.nav-search-input:focus ~ .nav-search-button {
  opacity: 1;
}
  

.nav-search-button:hover,
.nav-search-button:focus {
  color: var(--invert);
  background-color: var(--basic);
  opacity: 1;
}

.nav-search-button:active {
  color: var(--invert-faded);
  background-color: var(--basic);
  opacity: 1;
}

/* Navigation links */

.header-link {
  margin-right: 40px;
  padding-left: 25px;
  color: var(--basic);
  background-position: left 2px center;
  background-repeat: no-repeat;
  filter: brightness(0);
}

.header-login-wrap {
  display: flex;
  margin-right: auto;
}

.header-link:hover,
.header-link:focus {
  opacity: 0.6;
}

.header-link:active {
  opacity: 0.3;
}

.header-login {
  margin-right: 20px;
  background-image: url("../img/icon-userpic.svg")
}

.header-compare {
  background-image: url("../img/icon-compare.svg");
}

.header-cart {
  background-image: url("../img/icon-cart.svg");
}

.header-logout {
  padding-left: 0;
  opacity: 0.3;
}

/* Navigation list */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -38px 0 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
}

.nav-list-expanded {
  padding-bottom: 114px;
}

.header-nav-list {
  position: relative;
}

/* Header navigation item */

.nav-item {
  margin-right: 35px;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-item-catalog {
  flex: 0 0 calc(((100% - 38px)) / 2 - 20px);
  display: flex;
  margin-right: 40px;
}

/* Header navigation link */

.nav-link,
.nav-catalog-link {
  color: var(--bsasic);
  opacity: 1;
}

.nav-link:hover,
.nav-link:focus,
.nav-catalog-link:hover,
.nav-catalog-link:focus {
  opacity: 0.6;
}

.nav-link:active,
.nav-catalog-link:active {
  opacity: 0.3;
}

.nav-link-catalog {
  position: relative;
  padding-right: 30px;
}

.nav-link-catalog::after {
  content: "";
  position: absolute;
  top: 46%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-plus.svg");
  opacity: 0.3;
}

.nav-link-catalog:hover::after,
.nav-link-catalog:focus::after {
  opacity: 0.5;
}

.nav-link-catalog:active::after {
  opacity: 1;
}

/* Navigation catalog accordion */

.nav-catalog-list {
  position: absolute;
  top: 22px;
  right: -22px;
  bottom: -50px;
  left: -60px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 30px 60px 25px 60px;
  min-height: 163px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: none;
  list-style: none;
  background-color: var(--accent-pale);
  z-index: 1;
}

.nav-item-catalog:hover .nav-catalog-list,
.nav-item-catalog:focus-within .nav-catalog-list,
.nav-catalog-list:hover,
.nav-catalog-list:focus-within {
  display: flex;
} 

.nav-catalog-item {
  margin-bottom: 16px;
  margin-right: 62px;
}

/* Button GLOBAL*/

.button {
  position: relative;
  display: block;
  min-height: 40px;
  padding: 9px 18px;
  border: none;
  font-family: "Gilroy", "Arial", sans-serif; 
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--basic);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.button-text {
  position: relative;
  z-index: 1;
}

.button:active {
  color: var(--basic-faded);
}

.button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--accent);
  transition-property: height;
  transition-duration: 0.1s;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

/* Slider */

.slider {
  position: relative;
  top: -190px;
  margin-bottom: -72px;
}

/* Slider list */

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Slider item */

.slider-item {
  position: relative;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.slider-item::before {
  content: "0";
  position: absolute;
  top: 0;
  right: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  color: var(--invert);
  text-transform: uppercase;
}

.slider-item:nth-child(1)::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}

.slider-item-current {
  display: grid;
}

/* Slider image */

.slider-image {
  align-self: center;
  justify-self: center;
}

/* Slider content */

.slider-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-right: 60px;
}

.slider-content::before {
  content: "";
  position: absolute;
  top: 51px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: var(--invert);
}

/* Main title GLOBAL*/

.main-title {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

/* Slider text */

.slider-title {
  margin-bottom: 27px;
}

.slider-text {
  margin: 0;
  margin-bottom: 50px;
}

/* Slider table */

.slider-specs {
  order: 1;
}

.specs-table {
  border-collapse: collapse;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.specs-row-param {
  display: table-footer-group;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.specs-row-value {
  display: table-header-group;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.specs-cell {
  padding: 0;
  padding-right: 62px;
}

.specs-cell:last-child {
  padding-right: 0;
}

.specs-cell-value {
  padding-bottom: 15px;
}

/* Slider link */

.slider-link {
  align-self: start;
  min-width: 220px;
  margin-right: 110px;
  margin-bottom: 51px;
}

/* Slider navigation */

.slider-nav-list {
  position: absolute;
  bottom: 134px;
  right: 88px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-nav-item {
  margin-right: 18px;
}

.slider-nav-item:last-child {
  margin-right: 0;
}

.slider-nav-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid var(--basic);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-nav-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
}

.slider-nav-button-current {
  box-shadow: 
    0 0 0 2px var(--invert) inset,
    0 0 0 3px var(--basic) inset;
}

/* Categories */

.category {
  margin-bottom: 84px;
}

/* Categories' list */

.category-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-weight: 800;
  list-style: none;
}

/* Categories' link */

.category-link {
  position: relative;
  display: block;
  min-width: 160px;
  padding-top: 198px;
  color: var(--basic);
  background-color: var(--invert);
  background-image: linear-gradient(var(--accent-pale), var(--accent-pale));
  background-size: 100% 160px;
  background-position: top center;
  background-repeat: no-repeat;
}

.category-link:hover,
.category-link:focus {
  background-image: linear-gradient(var(--accent), var(--accent));
}

.category-link:active {
color: var(--basic-faded);
background-image: linear-gradient(var(--accent), var(--accent));
}

.category-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 160px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.category-link-vr::before {
  background-size: 97px 55px;
  background-image: url("../img/cat-vr.svg");
}

.category-link-monopod::before {
  background-position: top 25px center;
  background-size: 86px 117px;
  background-image: url("../img/cat-monopod.svg");  
}

.category-link-actioncam::before {
  background-size: 71px 87px;
  background-image: url("../img/cat-actioncam.svg");
}

.category-link-watch::before {
  background-size: 56px 98px;
  background-image: url("../img/cat-watch.svg");
}

.category-link-band::before {
  background-size: 107px 65px;
  background-image: url("../img/cat-band.svg");
}

.category-link-copter::before {
  background-size: 132px 69px;
  background-image: url("../img/cat-copter.svg");
} 

.category-link:active::before {
  opacity: 0.3;
}

/* Services */

.services {
  margin-bottom: 90px;
  padding-bottom: 116px;
  color: var(--basic );
  background-image: linear-gradient(
    var(--invert),
    var(--invert) 100px,
    var(--neutral-light) 100px,
    var(--neutral-light)
    );
}

.services-grid {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) 10% 65.5%;
}

/* Services list */

.services-list {
  position: relative;
  grid-column: -1 / -2;
  margin: 0;
  padding: 0;
  padding-top: 71px;
  list-style: none;
}

.services-item {
  display: none;
  padding-right: 190px;
}

.services-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.services-item-current {
  display: block;
}

.services-item-delivery::before {
  top: 71px;
  right: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/services-delivery.svg");
}

.services-item-warranty::before {
  top: 53px;
  right: -16px;
  width: 171px;
  height: 195px;
  background-image: url("../img/services-warranty.svg");
}

.services-item-credit::before {
  top: 48px;
  right: 8px;
  width: 156px;
  height: 188px;
  background-image: url("../img/services-credit.svg");
}

/* Section title GLOBAL*/

.section-title {
  margin-top: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-weight: 800;
}

/* Section title */

.services-title {
  margin-bottom: 40px;
}

/* Services text */

.services-text {
  max-width: 70ch;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Services navigation */

/* Services navigation list */

.services-nav-list {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  padding: 80px 0 0 0;
  list-style: none;
}

.services-nav-list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -49px;
  display: block;
  width: 7px;
  background-color: var(--basic);
}

/* Services navigation item */

.services-nav-item {
  margin-bottom: 21px;
}

.services-nav-item:last-child {
  margin: 0;
}

.services-nav-item-current {
  background-color: var(--basic);
}

/* Services navigation button */

.services-button {
  min-width: 160px;
}

.services-button:active {
  color: var(--accent-pale);
}

.services-button:active::before {
  background-color: var(--basic);
}

.services-button-current {
  color: var(--accent-pale);
}

.services-button-current::before {
  background-color: transparent;
}

/* Brands */

.brands {
  margin-bottom: 85px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-list img {
  filter: grayscale(100%);
  opacity: 0.2;
  transition-duration: 0.5s;
}

.brands-list:hover img {
  filter: none;
  opacity: 1;
}

/* Info (About, Contacts)  */

/* Info grid */

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px; 
  margin-bottom: 77px;
}

/* Info section */

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 57px;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic);
}

/* Info content */

.info-title {
  margin-bottom: 40px;
}

.info-text {
  margin-top: 0;
  margin-bottom: 42px;
  max-width: 60ch;
  line-height: 28px;
}

.info-about-text:last-of-type {
  margin-bottom: 60px;  
}

.info-list {
  margin-top: 0;
  margin-bottom: 70px;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  list-style: none;
}

.info-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 32px;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 2px solid var(--neutral-light);
  border-radius: 50%;
}

.info-link {
  align-self: flex-start;
  margin-top: auto;
  min-width: 260px;
}

/* Contacts map */

.contacts-image {
  display: block;
}

/* Footer */

.footer {
  padding-top: 46px;
  padding-bottom: 64px;
  color: var(--invert);
  background-color: var(--neutral-dark);
}

.footer-grid {
  display: grid;
}

.footer-logo {
  grid-row: 2 / 3;
  justify-self: left;
  margin-bottom: 35px;
}

/* Footer user menu */

.footer-user-menu {
  padding-left: 170px; 
  text-align: right;
}

/* Footer links */

.footer-link {
  position: relative;
  margin-left: 38px;
  padding-left: 23px;
  color: var(--invert-dim);
  white-space: nowrap;
} 

.footer-logout {
  padding-left: 0;
  margin-left: 20px;
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  background-position: center;
  background-repeat: no-repeat;
}

.footer-login::before {
  width: 9px;
  height: 10px;
  background-size: 9px 10px;
  background-image: url("../img/icon-userpic.svg");
}

.footer-compare::before {
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  background-image: url("../img/icon-compare.svg");
}

.footer-cart::before {
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  background-image: url("../img/icon-cart.svg");
}

.footer-link:hover,
.footer-link:focus {
  color: var(--invert);
}

.footer-link:hover::before,
.footer-link:focus::before {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

/* Footer navigation */

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  margin-bottom: 63px;
}

/* Footer navigation list */

.footer-nav-list {
  justify-content: center;
  margin-right: -33px;
}

.footer-nav-item {
  margin-right: 33px;
}

.footer-nav-link {
  color: var(--invert);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--invert-dim);
}

.footer-nav-link:active {
  color: var(--invert-faded);
}

/* Footer address */

.footer-address {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-style: normal;
}

/* Footer telephone */

.footer-tel {
  justify-self: end;
  color: var(--invert);
}

/* Footer external links */

.footer-external-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
}

.footer-external-links::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--accent);
}

/* Socails */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px 0 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 20px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-link:hover,
.social-link:focus {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.social-link-facebook {
  background-image: url("../img/social-facebook.svg");
}

.social-link-instagram {
  background-image: url("../img/social-instagram.svg");
}

.social-link-twitter {
  background-image: url("../img/social-twitter.svg");
}

/* Footer copy */

.footer-copy {
  justify-self: end;
}

.footer-copy:hover,
.footer-copy:focus {
  opacity: 0.6;
}

.footer-copy:active {
  opacity: 0.3;
}

/* Modals */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  min-width: 960px;
  box-shadow: 0 10px 16px 0 var(--basic-faded);
  z-index: 10;
}

/* Modal map */

.modal-map-image {
  display: block;
}

/* Modal feedback form */

.modal-mail {
  padding: 92px 100px 60px 100px;
  background-color: var(--invert);
}

.mail-container {
  max-width: 760px;
  margin: 0 auto;
}

.mail-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 34px;
}

.mail-label {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.mail-label-message {
  grid-column: 1 / -1;
}

.mail-label-text {
  margin-bottom: 10px;
}

/* Input fields */

.mail-input {
  padding: 16px 20px 15px 20px; 
  border: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  background-color: var(--input-background);
}

.mail-input:hover {
  background-color: var(--input-hover-background);
}

.mail-input:focus {
  background-color: var(--invert);
  outline: 2px solid var(--accent-pale);
}

.mail-input::placeholder {
  color: var(--input-placeholder);
}

.mail-input-invalid {
  background-color: var(--input-invalid-background);
}

.mail-input-message {
  width: 100%;
  min-height: 12em;
  resize: none;
}

.mail-submit {
  margin-right: auto;
  margin-top: 10px;
  min-width: 200px;
}

.mail-submit::before {
  background-color: var(--accent-pale);
}

/* Close button */

.button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/button-close.svg");
  opacity: 0.5;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  opacity: 0.7;
}

.button-close:active {
  opacity: 0.3;
}

/* Catalog page */

/* Catalog title container */

.page-title-container {
  max-width: 1160px;
  margin: 0 auto 50px auto;
  padding-right: 60px;
  padding-left: 60px;
}

/* Catalog title */

.page-title {
  margin-bottom: 32px;
}

/* Bredcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 -15px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-top: 1px solid var(--basic);
  border-right: 1px solid var(--basic);
  transform: rotate(45deg);
}

.breadcrumbs-link {
  margin-right: 16px;
  color: var(--basic-faded);
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  margin-right: 0;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  color: var(--basic-dim);
}

.breadcrumbs-link[href]:active {
  color: var(--basic-transparent);
}

/* Catalog wrap */

.catalog-wrap {
  position: relative;
}

/* Catalog grid*/

.catalog-grid {
  display: grid;
  grid-template-columns: 328px 1fr;
}

/* Filters */

.filters {
  background-color: var(--neutral-light);
}

/* Filters title */

.filters-title {
  margin: 0 0 70px 0;
  padding: 25px 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--neutral-medium);
}

.filters-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 70px;
  width: 50%;
  background-color: var(--neutral-medium);
  z-index: -1;
}

/* Filters form */

.filters-form {
  padding-right: 68px;
  padding-left: 60px;
}

.filters-form::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: calc((100% - 1160px) / 2);
  height: 100%;
  background-color: var(--neutral-light);
  z-index: -2;
}

/* Filters fieldset */

.filters-fieldset {
  margin: 0 0 39px 0;
  padding: 0;
  border: none;
}

.filters-fieldset-price {
  margin-bottom: 55px;
}

.filters-fieldset:last-of-type {
  margin-bottom: 43px;
}

/* Filters legend */

.filters-legend {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 31px;
  padding-top: 15px;
  border-top: 2px solid var(--basic);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  font-weight: 800;
}

.filters-legend-price {
  margin-bottom: 38px;
}

/* Filters list */

.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Filters label */

.filters-label {
  font-size: 14px;
  line-height: 19px;
}

/* Price filter */

/* Range controls */

.range-controls {
  position: relative;
  width: calc(100% - 20px);
  margin: 0 auto 17px auto;
}

.scale {
  position: relative;
  width: calc(100% + 18px);
  height: 2px;
  background-color: var(--price-scale);
  transform: translateX(-9px);
}

.bar {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--accent-extra);
}

.toggle {
  position: absolute;
  top: -9px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 8px solid var(--invert);
  border-radius: 50%;
  background-color: var(--toggle-inner);
  box-shadow: 0px 2px 2px var(--price-scale);
  cursor: pointer;
}

/* Price controls */

.price-controls {
  position: relative;
}

.price-label {
  position: absolute;
  top: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  white-space: nowrap;
}

.price-input {
  max-width: 8ch;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

/* Color filter */

.color-item {
  margin-bottom: 19px;
}

.color-item:last-child {
  margin-bottom: 0;
}


/* Bluetooth filter */

.bluetooth-item {
  margin-bottom: 20px;
}

.bluetooth-item:last-child {
  margin-bottom: 0;
}

/* Custom input */

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

input[type="checkbox"] + .label-text,
input[type="radio"] + .label-text {
  position: relative;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"]:focus + .label-text,
input[type="radio"]:focus + .label-text {
  border-radius: 2px;
  box-shadow: 
    0 0 0 1px solid var(--basic),
    0 0 0 2px solid var(--invert)
  ;
}

input[type="checkbox"]:focus + .label-text,
input[type="radio"]:focus + .label-text {
  box-shadow: 
    0 0 0 1px var(--basic),
    0 0 0 2px var(--invert)
  ;
  border-radius: 2px;
}

input[type="checkbox"]:disabled + .label-text,
input[type="radio"]:disabled + .label-text {
  color: var(--label-disabled);
}

/* Custom checkbox */

input[type="checkbox"] + .label-text {
  padding-left: 42px;
}

input[type="checkbox"] + .label-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic);
  border-radius: 2px;
}

input[type="checkbox"] + .label-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-60%) rotate(45deg);
  display: none;
  width: 7px;
  height: 12px;
  border-right: 2px solid var(--basic);
  border-bottom: 2px solid var(--basic);
}

input[type="checkbox"]:hover + .label-text::before,
input[type="checkbox"]:focus + .label-text::before,
input[type="checkbox"]:hover + .label-text::after,
input[type="checkbox"]:focus + .label-text::after {
  opacity: 0.6;
}

input[type="checkbox"]:active + .label-text::before,
input[type="checkbox"]:active + .label-text::after {
  opacity: 1;
}

input[type="checkbox"]:disabled + .label-text::before,
input[type="checkbox"]:disabled + .label-text::after {
  opacity: 0.25;
}

input[type="checkbox"]:checked + .label-text::after {
  display: block;
}

/* Custom radio */

input[type="radio"] + .label-text {
  padding-left: 40px;
}

input[type="radio"] + .label-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic);
  border-radius: 50%;
}

input[type="radio"] + .label-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--basic);
}

input[type="radio"]:hover + .label-text::before,
input[type="radio"]:focus + .label-text::before,
input[type="radio"]:hover + .label-text::after,
input[type="radio"]:focus + .label-text::after {
  opacity: 0.6;
}

input[type="radio"]:active + .label-text::before,
input[type="radio"]:active + .label-text::after {
  opacity: 1;
}

input[type="radio"]:disabled + .label-text::before,
input[type="radio"]:disabled + .label-text::after {
  opacity: 0.25;
}

input[type="radio"]:checked + .label-text::after {
  display: block;
}

/* Filters submit button */

.filters-submit {
  width: 100%;
}

/* Catalog */

.catalog {
  padding-bottom: 77px;
}

/* Catalog sort */

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  padding: 25px 0 25px 72px;
  background-color: var(--neutral-light);
}

/* Catalog sort text */

.sort-text {
  margin: 0 73px 0 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
}

.sort-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50%;
  height: 70px;
  background-color: var(--neutral-light);
  z-index: -1;
}

/* Sort type */

.sort-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 72px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.sort-type-item {
  margin-right: 32px;
}

.sort-type-item:last-child {
  margin-right: 0;
}

.sort-type-link[href] {
  color: var(--basic-faded);
}

.sort-type-link[href]:hover,
.sort-type-link[href]:focus {
  color: var(--basic-dim);
}

.sort-type-link[href]:active {
  color: var(--basic);
}

/* Sort direction */

.sort-direction-list {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.sort-direction-item:not(:last-child) {
  margin-right: 16px;
}

/* Sort direction link */

.sort-direction-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.sort-direction-link {
  opacity: 0.2;
}

.sort-direction-link[href] {
  opacity: 1;
}

.sort-direction-link[href]:hover,
.sort-direction-link[href]:focus {
  opacity: 0.4;
}

.sort-direction-link[href]:active {
  opacity: 1;
}

.sort-direction-link::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.sort-direction-link-up::before {
  border-bottom: 10px solid var(--basic);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.sort-direction-link-down::before {
  border-top: 10px solid var(--basic);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.sort-direction-link::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

/* Catalog list */

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 47px;
  margin: 0 0 41px 0;
  padding-left: 72px;
  list-style: none;
}

/* Catalog card */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-new::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 2px solid var(--basic-faded);
  border-radius: 50%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 800;
  color: var(--basic-faded);
  text-transform: uppercase;
}

/* Catalog card image */

.card-image {
  margin-bottom: 31px;
  background-color: var(--card-background);
  object-fit: contain;
}

.card:hover .card-image,
.card:focus-within .card-image {
  opacity: 0.7;
}

/* Catalog card text */

.card-text {
  display: flex;
  align-items: baseline;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.05em;
}

.card-link {
  margin-right: 5px;
  color: var(--basic);
}

.card-title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.card-price {
  min-width: 10ch;
  margin: 0 0 0 auto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-align: right;
}

.card-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buy {
  min-width: 200px;
  margin-bottom: 4px;
  opacity: 0;
}

.card:hover .card-buy,
.card:focus-within .card-buy,
.card-buy:hover,
.card-buy:focus {
  opacity: 1;
}

.card-compare {
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--basic);
  opacity: 0;
}

.card:hover .card-compare,
.card:focus-within .card-compare {
  opacity: 0.5;
}

.card .card-compare:hover,
.card .card-compare:focus {
  opacity: 1;
}

.card .card-compare:active {
  opacity: 0.2;
}

.catalog-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 72px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--catalog-pag-background);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -30px 0 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-link[href] {
  color: var(--basic-faded);
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  color: var(--basic-dim);
}

.pagination-link[href]:active {
  color: var(--basic);
}

.pagination-button {
  display: block;
  padding: 25px 30px;
  color: var(--basic);
}

.pagination-button[href]:hover,
.pagination-button[href]:focus {
  background-color: var(--catalog-pag-button);
}

.pagination-button[href]:active {
  color: var(--basic-faded);
  background-color: var(--catalog-pag-button);
}

.pagination-button-backward {
  order: -1;
}