/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

/* Variables */

:root {
  --basic: #000000;
  --basic-dim: rgba(0, 0, 0, 0.6);
  --basic-faded: rgba(0, 0, 0, 0.3);
  --basic-transparent: rgba(0, 0, 0, 0.1);
  --invert: #ffffff;
  --invert-dim: rgba(250, 250, 250, 0.6);
  --invert-faded: rgba(250, 250, 250, 0.3);
  --invert-transparent: rgba(250, 250, 250, 0.1);
  --accent: #f0c52e;
  --accent-pale: #f7e296;
  --neutral-light: #e5e5e5;
  --neutral-medium: #dcdcdc;
  --neutral-dark: #363636;
  --input-background: #f2f2f2;
  --input-placeholder: rgba(0, 0, 0, 0.4);
  --input-hover-background: #eaeaea;
  --input-invalid-background: #f6dada;
  --label-disabled: #a6a6a6;
  --card-background: #eeeeee;
  --catalog-pag-background: #ebebeb;
  --catalog-pag-button: #d9d9d9;
  --accent-extra: #91c92f;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic );
  background-color: var(--invert);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Display-none */
.display-none {
  display: none;
}


/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Container */

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  margin-bottom: 44px;
}

.header {
  position: relative;
  padding: 44px 60px 50px 60px;
  background-color: var(--accent-pale);
}

.header-expanded {
  padding-bottom: 164px;
}

/* Logo */

.logo {
  background-color: transparent;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.header-logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

/* Search input */

.nav-search-input {
  background-color: var(--accent-pale);
  border: none;
}

.nav-search-input:focus {
  border-bottom: 2px solid var(--basic);
  outline: none;
}

.nav-search-input::placeholder {
  color: var(--basic-faded);
}

.nav-search-input:hover::placeholder {
  color: var(--basic-dim);
}
    
/* Search button */

.nav-search-button {
  border: 2px solid var(--basic);
  background-color: var(--accent-pale);
  text-transform: uppercase;  
  outline: none;
  opacity: 0;
}

.nav-search-input:focus ~ .nav-search-button {
  opacity: 1;
}
  

.nav-search-button:hover,
.nav-search-button:focus {
  color: var(--invert);
  background-color: var(--basic);
  opacity: 1;
}

.nav-search-button:active {
  color: var(--invert-faded);
  background-color: var(--basic);
  opacity: 1;
}

/* Navigation links */

.header-link {
  color: var(--basic);
  opacity: 1;
}

.header-link:hover,
.header-link:focus {
  opacity: 0.6;
}

.header-link:active {
  opacity: 0.3;
}

.nav-list a {
  color: var(--basic);
  opacity: 1;
}

.nav-list a:hover,
.nav-list a:focus {
  opacity: 0.6;
}

.nav-list a:active {
  opacity: 0.3;
}

/* Navigation list */

.nav-list {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
}

/* Navigation catalog accordion */

.nav-item:last-child {
  text-align: right;
}

.nav-catalog-list {
  position: absolute;
  right: 0;
  bottom: -114px;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  height: 164px;
  margin: 0;
  padding: 30px 60px 35px 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: none;
  list-style: none;
  background-color: var(--accent-pale);
  z-index: 1;
}

.nav-catalog-list-index {
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-link-catalog:hover ~ .nav-catalog-list {
  display: flex;
} 

.nav-catalog-list:hover,
.nav-catalog-list:focus {
  display: flex;
} 

.nav-catalog-item {
  margin-bottom: 16px;
  margin-right: 60px;
}

/* Slider */

.slider {
  position: relative;
  top: -130px;
}

.slider-list {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  list-style: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.slider-image {
  justify-self: center;
}

.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 60px;
}

.main-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.slider-specs {
  order: 1;
}

.specs-row-param {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.specs-row-value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.slider-link {
  width: 220px;
}

.slider-nav-list {
  position: absolute;
  bottom: 110px;
  right: 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-nav-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--basic);
  border-radius: 50%;
}

/* Button */

.button {
  position: relative;
  display: block;
  height: 40px;
  padding: 9px 0;
  font-family: "Gilroy", "Arial", sans-serif; 
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--basic);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-text {
  position: relative;
  z-index: 1;
}

.button:active {
  color: var(--basic-faded);
}

.button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--accent);
  transition-property: height;
  transition-duration: 0.1s;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

/* Categories */

.category-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-weight: 800;
  list-style: none;
}

.category-link {
  position: relative;
  display: block;
  min-width: 160px;
  padding-top: 198px;
  color: var(--basic);
  background-color: var(--invert);
  background-image: linear-gradient(var(--accent-pale), var(--accent-pale));
  background-size: 100% 160px;
  background-position: top center;
  background-repeat: no-repeat;
}

.category-link:hover,
.category-link:focus {
  background-image: linear-gradient(var(--accent), var(--accent));
}

.category-link:active {
color: var(--basic-faded);
background-image: linear-gradient(var(--accent), var(--accent));
}

.category-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 160px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.category-link-vr::before {
  background-size: 97px 55px;
  background-image: url("../img/cat-vr.svg");
}

.category-link-monopod::before {
  background-size: 86px 117px;
  background-image: url("../img/cat-monopod.svg");  
}

.category-link-actioncam::before {
  background-size: 71px 87px;
  background-image: url("../img/cat-actioncam.svg");
}

.category-link-watch::before {
  background-size: 56px 98px;
  background-image: url("../img/cat-watch.svg");
}

.category-link-band::before {
  background-size: 107px 65px;
  background-image: url("../img/cat-band.svg");
}

.category-link-copter::before {
  background-size: 132px 69px;
  background-image: url("../img/cat-copter.svg");
} 

.category-link:active::before {
  opacity: 0.3;
}


/* Services */

.services {
  line-height: 28px;
  letter-spacing: 0.1em;
  background-image: linear-gradient(
    var(--invert),
    var(--invert) 100px,
    var(--neutral-light) 100px,
    var(--neutral-light)
  );
}

.services-grid {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) 10% 65.5%;
}

.services-list {
  grid-column: -1 / -2;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style: none;
}

.section-title {
  margin-top: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-weight: 800;
}

/* Services navigation */

.services-nav-list {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 80px 0 0 0;
  margin: 0;
  list-style: none;
}

.services-nav-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 7px;
  height: 320px;
  background-color: var(--basic);
}

.services-nav-item-active {
  background-color: var(--basic);
}

.services-button {
  width: 160px;
}

.services-button:active {
  color: var(--accent-pale);
}

.services-button:active::before {
  background-color: var(--basic);
}

.services-button-active {
  color: var(--accent-pale);
}

.services-button-active::before {
  background-color: transparent;
}

/* Brands */

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-list img {
  filter: grayscale(100%);
  opacity: 0.2;
  transition-duration: 0.5s;
}

.brands-list:hover img {
  filter: none;
  opacity: 1;
}

/* About, Contacts */

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px; 
}

.info {
  display: flex;
  flex-direction: column;
}

.section-text {
  line-height: 28px;
}

.info-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  list-style-type: circle;
}

.info-link {
  width: 260px;
  margin-top: auto;
}

/* Footer */

.footer {
  padding-top: 46px;
  padding-bottom: 64px;
  color: var(--invert);
  background-color: var(--neutral-dark);
}

.footer-grid {
  display: grid;
}

.footer-logo {
  grid-row: 2 / 3;
  justify-self: left;
  margin-bottom: 40px;
}

/* Footer user menu */

.footer-user-menu {
  text-align: right;
}

.footer-link {
  color: var(--invert-dim);
} 

.footer-link:hover,
.footer-link:focus {
  color: var(--invert);
}

.footer-link:active {
  color: var(--invert-faded);
}

/* Footer navigation */

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 66px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 36px;
}

.footer-nav-list a {
  color: var(--invert);
}

.footer-address {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-style: normal;
}

.footer-tel {
  justify-self: end;
  color: var(--invert);
}

/* Footer external links */

.footer-external-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
}

.footer-external-links::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--accent);
}

/* Socails */

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-link:hover,
.social-link:focus {
  filter: brightness(0);
  opacity: 1;
}

.social-link:active {
  filter: none;
  opacity: 0.1;
}

.social-link-facebook {
  background-image: url("../img/social-facebook.svg");
}

.social-link-instagram {
  background-image: url("../img/social-instagram.svg");
}

.social-link-twitter {
  background-image: url("../img/social-twitter.svg");
}

/* HTML academy */

.footer-copy {
  justify-self: end;
}

/* Modal */

.modal {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

/* Feedback form */

.modal-mail {
  background-color: var(--invert);
}

.mail-container {
  max-width: 760px;
  margin: 0 auto;
}

.mail-label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.mail-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 32px;
}

.mail-label {
  display: flex;
  flex-direction: column;
}

.mail-label-text {
  grid-column: 1 / -1;
}

/* Input fields */

.mail-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  border: none;
  background-color: var(--input-background);
}

.mail-input:hover {
  background-color: var(--input-hover-background);
}

.mail-input:focus {
  background-color: var(--invert);
  outline: 2px solid var(--accent-pale);
}

.mail-input::placeholder {
  color: var(--input-placeholder);
}

.mail-input-invalid {
  background-color: var(--input-invalid-background);
}

.mail-input-text {
  width: 100%;
  resize: none;
}

.mail-submit {
  width: 220px;
}

/* Close button */

.button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/button-close.svg");
  opacity: 0.5;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  opacity: 0.7;
}

.button-close:active {
  opacity: 0.3;
}

/* Catalog page */

.page-title-container {
  max-width: 1160px;
  margin: 0 auto 50px auto;
  padding-right: 60px;
  padding-left: 60px;
}

.page-title {
  margin-bottom: 30px;
}

/* Bredcrumbs */

.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: start;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 16px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-top: 1px solid var(--basic);
  border-right: 1px solid var(--basic);
  transform: rotate(45deg);
}

.breadcrumbs-item:not(:last-child) a {
  color: var(--basic-faded);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: var(--basic-dim);
}

.breadcrumbs a[href]:active {
  color: var(--basic-transparent);
}

/* Catalog grid*/

.catalog-grid {
  display: grid;
  grid-template-columns: 28% 72%;
}

/* Filters */

.filters {
  background-color: var(--neutral-light);
}

.filters-title {
  margin: 0 0 70px 0;
  padding: 25px 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--neutral-medium);
}

.filters-form {
  padding-right: 68px;
  padding-left: 60px;
}

.filters-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-legend {
  padding-top: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  font-weight: 800;
}

.price-output {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-label {
  font-size: 14px;
  line-height: 19px;
}

input[type="checkbox"]:disabled + .label-text,
input[type="radio"]:disabled + .label-text {
  color: var(--label-disabled);
} 

.filters-submit {
  width: 200px;
}

/* Catalog sort */

.catalog {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-weight: 800;
}

.catalog-sort {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  align-items: center;
  padding: 25px 0 25px 72px;
  background-color: var(--neutral-light);
}

.sort-text {
  margin: 0 72px 0 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-type-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  font-weight: 400;
  list-style: none;
}

.sort-type-list a[href] {
  color: var(--basic-faded);
}

.sort-type-list a[href]:hover,
.sort-type-list a[href]:focus {
  color: var(--basic-dim);
}

.sort-type-list a[href]:active {
  color: var(--basic);
}

.sort-direction-list {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-direction-link {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.sort-direction-link[href] {
  opacity: 0.2;
}

.sort-direction-link[href]:hover,
.sort-direction-link[href]:focus {
  opacity: 0.4;
}

.sort-direction-link[href]:active {
  opacity: 1;
}

.sort-direction-link::before {
  content: "";
  display: block;
  width: 10px;
  height: 9px;
}

.sort-direction-link-up::before {
  border-bottom: 9px solid var(--basic);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sort-direction-link-down::before {
  border-top: 9px solid var(--basic);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* Catalog list */

.catalog-list {
  list-style: none;
}

.catalog-item img {
  background-color: var(--card-background);
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item-link {
  color: var(--basic);
}

.catalog-item-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.button-buy {
  opacity: 0;
}

.catalog-item:hover .button-buy,
.catalog-item-link:focus ~ .button-buy,
.button-buy:hover,
.button-buy:focus {
  opacity: 1;
}

.item-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--basic);
  opacity: 0;
}

.catalog-item:hover .item-compare,
.catalog-item-link:focus ~ .item-compare {
  opacity: 0.5;
}

.catalog-item .item-compare:hover,
.catalog-item .item-compare:focus {
  opacity: 1;
}

.item-compare:active {
  opacity: 0.2;
}


.catalog-pagination {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--catalog-pag-background);
}

.pagination-list {
  list-style: none;
}

.pagination-link[href] {
  color: var(--basic-faded);
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  color: var(--basic-dim);
}

.pagination-link:active {
  color: var(--basic);
}

.pagination-button {
  display: block;
  padding: 25px 30px;
  color: var(--basic);
}

.pagination-button[href]:hover,
.pagination-button[href]:focus {
  background-color: var(--catalog-pag-button);
}

.pagination-button[href]:active {
  color: var(--basic-faded);
  background-color: var(--catalog-pag-button);
}
